body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1f2430, #11151f);
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    cursor: pointer;
    transition: 0.3s;
}

nav ul li:hover {
    color: #f5a623;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    color: #bbb;
}
.services {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
}

.card {
    background: #2c3142;
    padding: 25px 40px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    background: #f5a623;
    color: black;
    transform: translateY(-10px);
}

.card {
    background: #2c3142;
    padding: 20px;
    border-radius: 10px;
}
.hero img {
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.6);
    transition: 0.4s;
}

.hero img {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
.section-title {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
}
.about {
    padding: 60px 100px;
    text-align: center;
    color: #ccc;
}
.skills {
    text-align: center;
    padding: 50px;
}

.skill-list span {
    display: inline-block;
    background: #2c3142;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
}
.projects {
    padding: 60px;
    text-align: center;
}

.project-card {
    background: #2c3142;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}
.certificates {
    text-align: center;
    padding: 50px;
}

.certificates li {
    margin: 10px 0;
}
html {
    scroll-behavior: smooth;
}
.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    background: #f5a623;
    color: black;
}
h2 {
    text-shadow: 0 0 10px rgba(245,166,35,0.5);
}